.topnav{
    position: relative;
    z-index: 2;
    box-shadow: 0 0 20px 0 rgba(119, 36, 142, 0);
   
}


body{
    background: linear-gradient(turquoise, blue, turquoise);
}
.navbar{
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    display:flex;
    background-color: none;

}

#iconeheader{
    width: 7%;
    height: auto;
    display: flex;
}

#info{
    background-color: #e053d0;
    height:50px;
}

#text1{
color: white;
font-size: x-large;

}


#text2 {
    font-size: xx-large;
    margin-top: 30px;
    margin-left:10px;
}

.btn:hover{
    background-color: white;
    color: #d8599d;
    border: 1px solid #fe86fc;
}


.btn{
    background-color: #e053d0;
    color: white;

   
    border: none;
    cursor: pointer;

}

#container1{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 90%;
    margin-left:70px;
}


.rounded{
    height:400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width:25%;
}


#div-accueil{
    background-image: url("cours-de-programmation-suivi-par-un-groupe-de-fe-234-900x300.jpg");
    height:400px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position-x: 0px;
}

 #chiffres-asso{
    display:flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
 }

 .div-info-chiffres{
    display:flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items:center; 
 }

 #info-principale{
    margin-top: 20px;
    font-family: fantasy;
    font-weight:800;
    font-size: 70px;
    color: ghostwhite;

 }

 #titre-1{
    color:white;
    
   
    
 }

 #texte-accueil{
    margin-top:30px;
 }

 .section-titre{
    color:white; 
 }

 #presentation-asso{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    color:white;

 }

#description{
    color:white;
    text-align: justify;
    width: 800px;
}


